

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
       
         >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:theme="@style/Theme.AppCompat.Light"
             > 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseLevelGradeOne"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.MainActivity">
            
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.helloworld.MainActivity" />
            <intent-filter>
                <action android:name="com.example.helloworld.ChooseLevelGradeOne" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.helloworld.Test" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ChooseLevelGradeTwo"
            android:label="@string/app_name"
            android:parentActivityName="com.example.helloworld.MainActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.helloworld.MainActivity" />
            <intent-filter>
                <action android:name="com.example.helloworld.ChooseLevelGradeTwo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:name=".ChooseLevelGradeThree"
            android:label="@string/app_name"
            android:parentActivityName="com.example.helloworld.MainActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.helloworld.MainActivity" />
        
		    <intent-filter>
                <action android:name="com.example.helloworld.ChooseLevelGradeThree" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name=".ChooseLevelGradeFour"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.helloworld.MainActivity" />
        <intent-filter>
                <action android:name="com.example.helloworld.ChooseLevelGradeFour" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
	<activity
            android:name=".ChooseLevelGradeFive"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.MainActivity">
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.helloworld.MainActivity" />
            <intent-filter>
                <action android:name="com.example.helloworld.ChooseLevelGradeFive" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name=".ChooseLevelGradeSix"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.MainActivity">
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.helloworld.MainActivity" />
            <intent-filter>
                <action android:name="com.example.helloworld.ChooseLevelGradeSix" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
	<activity
            android:name=".ChooseLevelGradeSeven"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.MainActivity">
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.helloworld.MainActivity" />
            <intent-filter>
                <action android:name="com.example.helloworld.ChooseLevelGradeSeven" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
	
        <activity
            android:name=".GradeOneLevelOne"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeOne"  >
            <intent-filter>
            <action android:name="com.example.helloworld.GradeOneLevelOne" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeOneLevelTwo"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeOne">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeOneLevelTwo" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeOneLevelThree"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeOne">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeOneLevelThree" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeTwoLevelOne"
            android:label="@string/app_name"
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeTwo" >
            <intent-filter>
            <action android:name="com.example.helloworld.GradeTwoLevelOne" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeTwoLevelTwo"
            android:label="@string/app_name"
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeTwo" >
            <intent-filter>
            <action android:name="com.example.helloworld.GradeTwoLevelTwo" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          <activity
            android:name=".GradeTwoLevelThree"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeTwo">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeTwoLevelThree" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       <activity
            android:name=".GradeThreeLevelOne"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeThree">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeThreeLevelOne" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name=".GradeThreeLevelTwo"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeThree">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeThreeLevelTwo" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       <activity
            android:name=".GradeThreeLevelThree"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeThree">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeThreeLevelThree" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
      <activity
            android:name=".GradeFourLevelOne"
            android:label="@string/app_name"
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeFour" >
            <intent-filter>
            <action android:name="com.example.helloworld.GradeFourLevelOne" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeFourLevelTwo"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeFour">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeFourLevelTwo" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeFourLevelThree"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeFour">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeFourLevelThree" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
      <activity
            android:name=".GradeFiveLevelOne"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeFive">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeFiveLevelOne" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeFiveLevelTwo"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeFive">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeFiveLevelTwo" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeFiveLevelThree"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeFive">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeFiveLevelThree" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
      <activity
            android:name=".GradeSixLevelOne"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeSix">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeSixLevelOne" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeSixLevelTwo"
            android:label="@string/app_name"
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeSix" >
            <intent-filter>
            <action android:name="com.example.helloworld.GradeSixLevelTwo" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeSixLevelThree"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeSix">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeSixLevelThree" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
      <activity
            android:name=".GradeSevenLevelOne"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeSeven">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeSevenLevelOne" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeSevenLevelTwo"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeSeven">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeSevenLevelTwo" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradeSevenLevelThree"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.ChooseLevelGradeSeven">
            <intent-filter>
            <action android:name="com.example.helloworld.GradeSevenLevelThree" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
      
        
       <activity
            android:name=".CheckAnswersGradeOneLevelOne"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.helloworld.MainActivity">
         <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.helloworld.MainActivity" />
        
           <intent-filter>
            <action android:name="com.example.helloworld.CheckAnswersGradeOneLevelOne" 
                
                />
            
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>

